<footer>
    <div class="inner">
         <section class="copyright">&copy; 2013-{{date format="YYYY"}}. Some rights reserved. Text is available under the <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">CC BY-SA 3.0</a>. See each blog post for the copyright status of images.</section>
         <section>Published with <a href="https://ghost.org">Ghost</a> using <a href="https://github.com/MrJuliuss/plainly">plainly</a>.  Powered by <a href="https://m.do.co/c/7c7e05af5abd" target="_blank">Digital Ocean</a></section>
    </div>
</footer>
